body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
    flex-direction: column;
    background-image: url('https://images.hdqwalls.com/wallpapers/pubg-special-force-4k-nf.jpg');
}

h1 {
    font-size: 1rem;
    padding: 1rem;
}