body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
    flex-direction: column;
}

h1 {
    font-size: 1rem;
    padding: 1rem;
}